version: '3.8'

services:
  db:
    image: raviteja3929/dbimage:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "3306:3306"
    networks:
      - teja_network

  auth_service:
    image: raviteja3929/authimage:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "5001:5001"
    networks:
      - teja_network
    depends_on:
      - db

  book_service:
    image: raviteja3929/bookimage:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "5002:5002"
    networks:
      - teja_network
    depends_on:
      - db

  borrow_service:
    image: raviteja3929/borrowimage:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - "5003:5003"
    networks:
      - teja_network
    depends_on:
      - db

  frontend:
    image: raviteja3929/frontendimage:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "5000:5000"
      - "80:80"  # Load balancer friendly
    networks:
      - teja_network

networks:
  teja_network:
    driver: overlay
    attachable: true
