version: '3.8'

services:
  db:
    image: raviteja3929/dbimage:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "3306:3306"
    networks:
      - teja_network
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=library_db
      - MYSQL_USER=library_user
      - MYSQL_PASSWORD=library_pass
    volumes:
      - db_data:/var/lib/mysql

  auth_service:
    image: raviteja3929/authimage:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - "5001:5001"
    networks:
      - teja_network
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - DATABASE_NAME=library_db
      - DATABASE_USER=library_user
      - DATABASE_PASSWORD=library_pass

  book_service:
    image: raviteja3929/bookimage:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - "5002:5002"
    networks:
      - teja_network
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - DATABASE_NAME=library_db
      - DATABASE_USER=library_user
      - DATABASE_PASSWORD=library_pass

  borrow_service:
    image: raviteja3929/borrowimage:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - "5003:5003"
    networks:
      - teja_network
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - DATABASE_NAME=library_db
      - DATABASE_USER=library_user
      - DATABASE_PASSWORD=library_pass

  frontend:
    image: raviteja3929/frontendimage:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "5000:5000"
      - "80:80"  # Load balancer friendly
    networks:
      - teja_network
    depends_on:
      - auth_service
      - book_service
      - borrow_service
    environment:
      - AUTH_SERVICE_URL=http://auth_service:5001
      - BOOK_SERVICE_URL=http://book_service:5002
      - BORROW_SERVICE_URL=http://borrow_service:5003

networks:
  teja_network:
    driver: overlay
    attachable: true

volumes:
  db_data:
    driver: local
